.instructions {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.instructions__header {
    font-size: 40px;
    font-weight: normal;
}

.instructions__list {
    display: flex;
    gap: 32px;
    width: 80%;
    list-style: none;
}

.instruction-item {
    display: flex;
    flex: 1;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.instruction-item__header {
    font-size: 28px;
    font-weight: normal;
}

.instruction-item__icon {
    background-color: #ebebeb;
    padding: 32px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}